body {
    background-color: #ffffff;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

.titulo {
    width: 600px;
    margin-top: 40px;
}



.botones {
    margin-top: 20px;
}

.boton {
    display: block;
    width: 200px;
    margin: 2px 250px;
    padding: 10px;
    background-color: #56357a;
    color: #e8dff1;
    text-decoration: none;
    border-radius: 50px;
    font-size: 22px;
    font-weight: 700;
    transition: 0.3s;
}

.boton:hover {
    background-color: #6d4696;
    transform: scale(1.05);
}